$_button-background-color: $brand-red;
$_button-background-color-hover: shade($brand-offwhite, 20%) !default;

.btn {
	@apply text-xs font-bold py-3 px-4 no-underline text-white border border-transparent rounded tracking-wide uppercase;
	background: $_button-background-color;
	display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

	&:hover {
		@apply text-white;
		background: lighten($_button-background-color, 10%);
		transition: all .3s linear;
	}

	&.btn-blue {
		@apply bg-blue;

		&:hover {
			@apply bg-blue-dark;
		}

		&.btn-outline {
			@apply text-blue-dark border-blue;

			&:hover {
				@apply bg-blue text-white;
			}
		}
	}

	&.btn-green {
		@apply bg-green;

		&:hover {
			@apply bg-green-dark;
		}

		&.btn-outline {
			@apply text-green border-green;

			&:hover {
				@apply bg-green text-white;
			}
		}
	}
	

	&.btn-grey {
		@apply bg-grey-darkest text-white;

		&:hover {
			@apply bg-grey-darker text-white;
		}

		&.btn-outline {
			@apply text-grey-darkest border-grey-darkest;

			&:hover {
				@apply text-white;
			}
		}
	}

	&.btn-black {
		@apply bg-black text-white;

		&:hover {
			@apply bg-grey-darkest text-white;
		}

		&.btn-outline {
			@apply text-black border-black;

			&:hover {
				@apply bg-black text-white;
			}
		}

		&.btn-link {
			color: #22292f !important;
		}
	}

	&.btn-white {
		@apply bg-brand-offwhite text-black;

		&:hover {
			@apply bg-grey-lightest text-black;
		}

		&.btn-outline {
			@apply text-white border-white;

			&:hover {
				@apply bg-white text-black;
			}
		}
	}

	&.btn-link {
		@apply bg-transparent border-none p-0;
		// background: none !important;
		// border: none !important;
		// padding: 0 !important;
	}

	&.btn-sm {
		@apply text-xs px-4 py-2;
	}

	&.btn-outline {
		@apply bg-transparent border;
		
		&:hover {
			@apply text-white border-transparent;
		}
	}

}