
#{$all-text-inputs} {
	@apply block appearance-none border py-3 px-3 w-full shadow rounded;
	line-height: 1;
	
	&:focus {
		@apply border-blue-dark outline-none;
	}
}

select {
	@apply block appearance-none w-full border bg-white py-3 px-3 pr-8 rounded leading-tight shadow;
	background: url(../svg/ios-arrow-down.svg) 97%/3% no-repeat;
	  
	&:focus {
		@apply border-blue-dark outline-none;
	}
}

.form-field {
	@apply py-2;

	&.has-error {
		.feedback {
			@apply text-red text-xs mt-1 mb-2 mx-2;
		}
	}

	&.has-radio {
		display: flex;
		align-items: center;
		height: 40px;
		
		input[type="radio"] {
			@apply mr-2;
			margin-top: -4px;
		}
	}
}


textarea {
	resize: none;
}


.input-placeholder-white {
	&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	    color: white;
	    opacity: 1; /* Firefox */
	}

	&:-ms-input-placeholder { /* Internet Explorer 10-11 */
	    color: white;
	}

	&::-ms-input-placeholder { /* Microsoft Edge */
	    color: white;
	}
}