.brand {
	@apply no-underline text-grey-darkest text-xl;
	line-height: 1;
	padding: 0;
	
	&:hover {
		@apply text-grey-darkest;
	}

	img {
		width: 100px;
		@media (min-width: $screen-lg) {
			width: 150px;
		}
	}
}

.navbar {
	> ul {
		display: flex;
		
		> li > a {
			display: block;
			padding: 1rem 0.75rem;
			color: $brand-offwhite;
			text-decoration: none;
			font-weight: 700;
			text-transform: uppercase;
		}
	}
}
.nav-items {

	visibility: hidden;
	opacity: 0;
	position: absolute;

	@media (min-width: $screen-lg) {
		visibility: visible;
		opacity: 1;
		position: static;
	}

	&.is-toggled {
		@extend .animated, .fadeInLeft;
		visibility: visible;
		opacity: 1;
		position: static;
		width: 100%;
	}
}


.navbar {
	display: flex;
	@apply items-center justify-between flex-wrap py-6;
	
	ul {
		@apply list-reset;
	}
	
	li {
		@apply mt-4 mr-4;
		
		@media (min-width: 992px) {
			@apply inline-block mt-0;
		}

		> a {
			@apply block text-brand-offwhite font-bold text-sm tracking-wide uppercase;
			text-decoration: none;

			&:hover {
				@apply text-brand-red;
			}
		}
	}
}